@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);  
}

* {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--Pale-blue);
}

.card {
  width: 20rem;
  z-index: 1;
  background-color: #ffffff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.img-box > img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

h1 {
  color: var(--Dark-blue);
  font-size: 1.5rem;
  font-weight: 700;
}

.explain {
  text-align: center;
  font-size: 0.9rem;
  color: var(--Desaturated-blue);
}

.plan-box {
  display: flex;
}







